/* *{
    border: 1px solid green;
} */
body{
    font-family: "open sans";
}
.header {
    background-color: #0C2434;
    padding: 40px 0;
  }

.header .logo-container {
margin: 0 auto;
padding: 0;
}

.header #logo {
width: 80%;
display: block;
margin:0 auto;
}
/* .main{
    border: 1px solid red;
} */
.centered-main{
    margin-left:0;
    margin-right:0;
}
#title-area h1{
    font-size: 1.8rem;
    font-weight: 800;
}
#title-area #subtitle{
    font-style: italic;
    font-size: 1.4rem;
    color: #676767;
}
hr{
    border-color: rgb(70, 69, 69);
}
#title-area #date{
    font-size: .9rem;
}
#title-area #calendar{
    width: 7%;
}
#reg-card{
    width: 100%;
    text-align: center;
}
#reg-card h5{
    color: #676767;
}
#reg-card #card-subtitle{
    font-size:.9rem;
}
#reg-card input{
width: 80%;
height: 50px;
color: rgb(12, 11, 11); 
margin-bottom: 20px;
}
#reg-card ::placeholder { 
    color: rgb(187, 183, 183);
    opacity: 1; 
}
#reg-card .form-submit-btn {
    width: 80%;
    height: 50px;
    background: transparent -webkit-gradient(linear, left top, left bottom, from(#FCC57B), to(#D98624)) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #FCC57B 0%, #D98624 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #D8A124;
    border-radius: 20px;
    opacity: 1;
    margin-bottom: 20px;
    font-size: 1.1rem;
    font-weight: 700;
    
  }
 
#reg-card #motto{
    color:#676767;
    font-style: italic;
}
#bruce-info .line {
    height: 0;
    border-bottom: 1px solid #C4C4C4;
    margin: 3px;
    display: inline-block;
  }
#bruce-info #will-include-line span{
    font-style: italic;
}
#bruce-info img{
display: block;
}
#will-include-list li{
    list-style: none;
}
#bonus-row img{
    width: 10vw;
    position:relative;
    top:-20px;
    left: -30px;
}
#bonus-row p{
    margin-top: -20px;
}
.footer{
    background-color: #0C2434;
}
.footer #footer-logo {
    width: 24%;
    display: block;
}
.footer .vl {
    border-left: 2px solid rgb(229, 236, 229);
    height: 30px;
    display: inline-block;
    margin-top: -6px;
  }
.footer span{
    color: white;
}