body {
  color: #676767;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.header {
  background-color: #0C2434;
  padding: 40px 0;
}

.header .logo-container {
  margin: 0 auto;
  padding: 0;
}

.header #logo {
  width: 80%;
}

.outer {
  margin: 0;
}

.main {
  height: 100%;
  padding: 0;
  background-image: url("../images/bg.png");
}

.main .top-row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .top-box {
  padding: 0px 30px;
  height: 100%;
}

.main .top-box #title {
  font-weight: 800;
  font-size: 2.6rem;
  padding-top: 40px;
  padding-left: 30px;
  text-align: left;
}

.main .top-box #subtitle {
  font-style: italic;
  font-size: 2rem;
}

.main .top-box #line {
  width: 88%;
  height: 2px;
  border: 1px solid #929191;
  margin: 0 auto 30px auto;
}

.main .top-box #date {
  font-size: 1.3rem;
}

.main #reg-card {
  margin: 0;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 4px gray;
          box-shadow: 0 0 4px gray;
  padding: 20px;
}

.main #reg-card #card-title {
  font-weight: 800;
}

.main #reg-card #card-subtitle {
  color: #676767;
  font-size: 1.25rem;
  font-family: arial;
  margin-bottom: 0px;
}

.main #reg-card input {
  width: 80%;
  margin: 20px auto;
  height: 50px;
  color: #0c0b0b;
}

.main #reg-card ::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bbb7b7;
  opacity: 1;
  /* Firefox */
}

.main #reg-card :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bbb7b7;
  opacity: 1;
  /* Firefox */
}

.main #reg-card ::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bbb7b7;
  opacity: 1;
  /* Firefox */
}

.main #reg-card ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bbb7b7;
  opacity: 1;
  /* Firefox */
}

.main #reg-card .form-submit-btn {
  width: 80%;
  height: 50px;
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#FCC57B), to(#D98624)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #FCC57B 0%, #D98624 100%) 0% 0% no-repeat padding-box;
  border: 1px solid #D8A124;
  border-radius: 20px;
  opacity: 1;
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-weight: 700;
  cursor: pointer;
}

.main #reg-card #motto {
  font-style: italic;
  color: #676767;
}

.bottom-half .bottom-area {
  text-align: left;
}

.bottom-half .bottom-area #bottom-title {
  line-height: 1.2;
  font-size: 3.2rem;
}

.bottom-half .bruce-area .bruce-p {
  font-size: 1.5rem;
  text-align: left;
}

.bottom-half .will-include-area .line {
  width: 22%;
  height: 0;
  border-bottom: 1px solid #C4C4C4;
  margin: 3px;
  display: inline-block;
}

.bottom-half .will-include-area .include-head span {
  font-style: italic;
}

.bottom-half .will-include-area .include-list li {
  text-align: left;
}

.font-weight-light {
  font-weight: 100 !important;
}
/*# sourceMappingURL=main.css.map */