$fontGrey: #676767;

body{
    color: $fontGrey;
    // background-color: grey;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;

}
// .wrapper{
//     display: grid;
//     grid-gap: 20px;
// }
.header{
    background-color:#0C2434;
    padding: 40px 0;
    .logo-container{
        margin: 0 auto;
    }
    #logo{
        width: 80%;
    
    }
}
.main{
    height: 100%;
    padding: 0;
    background-image: url('../images/bg.png');
        
    // display:grid;
    // grid-template-columns: auto 900px auto;
    // grid-template-rows: 200px 350px auto;
    // #bgImg{
    //     height: 500px;
    //     width:100%;
    //     position: absolute;
    //     left:0;
    //     z-index: -1;
    // }
    .top-row{
        justify-content:center;
    }
    .top-box {
        padding: 0px 30px;
        height: 100%;
        #title{
            font-weight: 800;
            font-size: 3rem;
            padding-top: 40px;
        }
        #subtitle{
           font-style: italic;
           font-size: 2rem;
        }
        #line{
            width: 88%;
            height: 2px;
            border: 1px solid rgb(146, 145, 145);
            margin: 0 auto 30px auto;
        }
        #date{
            font-size: 1.3rem;
        }
    }   
    #reg-card{
        margin: 0;
        border-radius: 8px;
        box-shadow: 0 0 4px gray;
        padding: 20px;
        #card-title{
            font-weight:800;
        }
        #card-subtitle{
            color: #676767;
            font-size: 1.25rem;
            font-family: arial;
            margin-bottom: 0px;
        }
        input{
            width: 80%;
            margin: 20px auto;
            height: 50px;
            color: rgb(12, 11, 11);
            
            
        }
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: rgb(187, 183, 183);
            opacity: 1; /* Firefox */
          }
        button{
            width: 80%;
            height: 50px;
            background: transparent linear-gradient(180deg, #FCC57B 0%, #D98624 100%) 0% 0% no-repeat padding-box;
            border: 1px solid #D8A124;
            border-radius: 20px;
            opacity: 1;
            margin-bottom: 20px;
            font-size: 1.3rem;
            font-weight:700;
        }
        #motto{
            font-style: italic;
            color: #676767;
        }
    }
    
    
}
.bottom-area-title {
    text-align: center;
    #bottom-title{
    // margin: 50px auto 0 auto;
    
    }
}