/* *{
    border: 1px solid black;
} */
body{
    font-family: 'Open Sans', sans-serif;
}
#header{
    background-color: #0C2434;
    padding: 60px 0;
}
#logo{
    width: 443px;
    display: block;
    margin: 0 auto;

}
#registrationInfo{
    width: 75vw;
    margin: 0 auto;
    
}
#registrationInfo h1{
    margin-top: 120px;
    color: #676767;
    font-weight: 800;
    font-size: 57px;
}
#blueBgImg{
    position: absolute;
    z-index: -1;
    width: 100%;
}
#reg-card{
    float: right;
    width: 27vw;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 4px gray;
    padding: 20px 0;
}
.form-control{
    color: #CCCCCC;
}
#reg-card input{
    width: 80%;
    margin: 20px auto;
    height: 50px;
    
}
#reg-card h5{
    color: #676767;
}
#reg-card .card-body{
    padding-bottom: 0px;
}

#reg-card #card-subtitle{
    color: #676767;
    font-size: 16px;
    font-family: arial;
}
#subTitle{
    font-style: italic;
    font-size: 42px;
}
#reg-card button{
    width: 80%;
    height: 50px;
    background: transparent linear-gradient(180deg, #FCC57B 0%, #D98624 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #D8A124;
    border-radius: 25px;
    opacity: 1;
}
